*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #F8F4EF;
    color: #4c1d14;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

html{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
    display: none;
}
  
h1{
    margin: 0;
    font-size: 3rem;
    font-family: "Josefin Sans", sans-serif;
}

p, a, figcaption{
    font-family: "Poppins", sans-serif;
}

/* Navigation Bar */

nav li{
    display: inline-block;
    margin-left: 1rem;
    width: auto;
}

nav li a{
    text-decoration: none;
    color:#4c1d14
}

.logo{
    width: 7rem;
    height: 7rem;
}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F4EF;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding-left: 1rem;
    padding-right: 1rem;
}

.topnav {
    overflow: hidden;
    background-color: #F8F4EF;
}
  
.topnav a {
    float: left;
    display: block;
    color: #4c1d14;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: #4c1d14;
}
  
.topnav a.active {
    background-color: #04AA6D;
    color: #F8F4EF;
}
  
.topnav .icon {
    display: none;
    color: #4c1d14;

}
/* Marquee */
.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    background-color: #4c1d14;
    margin-top: 7rem;
}
.track {
    display: inline-block;
    padding-left: 10%;
    animation: marquee 12s linear infinite;
}
.content {
    display: inline-block;
    padding-right: 100%;
    color:#F8F4EF
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Banner */
.banner{
    object-fit: cover;
    background-position: center;
    height: 80vh;
    width: 100vw;
    background-image: url(assets/background-image.jpg);
    background-attachment: fixed;
    background-size: 100rem;
    background-repeat: no-repeat;
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &::before{
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: #4c1d14;
        opacity: 0.63;
    }
}

.banner-content {
    z-index: 1;
    color: #F8F4EF;
}

.banner-button {
    padding: 10px 20px;
    border: 2px solid #F8F4EF;
    background-color: transparent;
    border-radius: 5px;
    color: #F8F4EF;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
}
.banner-button:hover {
    background-color: #F8F4EF; 
    color: #4c1d14;
}

/* Best Sellers */

.products, .about-us, .category, .review{
    padding: 2rem;
    position: relative;
}

.products h1, .review h1, .about-us h1, .category h1{
    margin-bottom: 2rem;
    text-align: left;
    text-decoration: underline;
    text-shadow: 3px 3px #B19470;
}

.products-content.grid-container {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-rows: 32rem;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x proximity;
    scroll-behavior: smooth;
    grid-auto-flow: column;
    grid-auto-columns: minmax(18rem, auto);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.products-content.grid-container::-webkit-scrollbar {
    display: none;
}
  
.products-content.grid-container .grid-item {
    background-color: #4c1d14;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 0.8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.products-content.grid-container .grid-item .img-wrapper{
    position: relative;
    width: 100%;
    height: 0%;
    padding-top: 100%;
}

.img-wrapper img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 1rem;
}

.products-content.grid-container .grid-item a{
    display: block;
    margin-bottom: 1rem;
    color: #F8F4EF;
    transition: transform 0.5s ease-in-out;
}

.products-content.grid-container .grid-item p{
    color: #F8F4EF;
    flex: 1;
}

.products-content.grid-container .grid-item button{
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    background-color: #F8F4EF;
    border: none;
    width: 100%;
    color:#4c1d14;
}

.products-header{
    display: flex;
    justify-content: space-between;
}

.products-slider {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    font-size: 2rem;
}

.slider-container{
    color: #4c1d14;
}

/* About Us */
.about-us-body{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.about-us-body img{
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
    object-fit: cover;
}

.about-us-body .about-us-content{
    margin-top: auto;
    margin-bottom: auto;
}

.about-us h1{
    margin-bottom: 1rem;
    text-align: center;
    text-decoration: underline;
    text-shadow: 3px 3px #B19470;
}

/* Category */

.category-content.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 0.5rem;
    grid-template-rows: 10rem;
    margin-left: auto;
    margin-right: auto;
}

.category-content .grid-item{
    position: relative;
    width: 100%;
}

.category-content .grid-item img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: transform .2s;
    border-radius: 15px;
    box-shadow: #4c1d14;
}

.category-content .grid-item:hover {
    transform: scale(1.1); 
    z-index: 100;
}
  
.category-content .grid-item.item1 {
    grid-row: 1 / 3;
}

.category-content .grid-item.item2{
    grid-row: 1 / 3;
}

.category-content .grid-item.item5{
    grid-column: 3 / span 2;
    height: 10rem;
}

.category-content figcaption {
    background-color: rgba(76, 29, 20, 0.8); 
    color: #F8F4EF;
    padding: 2px;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 10%;
}

/* Review */
.review-slider-container{
    overflow-y: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.review-slider-container::-webkit-scrollbar {
    display: none;
}

.review-slider-container .slider {
    grid-auto-flow: column;
    grid-auto-columns: minmax(15rem, auto);
    display: grid;
    grid-gap: 0.5rem;
    grid-template-rows: 21rem;
    animation: slide 12s infinite;
}

@keyframes slide {
    0%{
        transform: translateX(0%);
    }
    25%{
        transform: translateX(-25%);
    }
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.item img{
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #4c1d14;
    margin-left: auto;
    margin-right: auto;
}
/* Footer */
footer{
    background-color: #4c1d14;
    padding: 1rem;
    color: #F8F4EF;
    position: relative;
}
footer img{
    width: 2rem;
    height: 2rem;
}

footer p {
    margin: 0;
}

/* Modal */
.modal-popup-consultation{
    text-align: center;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 0;
    padding: 1.5rem;
    z-index: 1000;
    overflow-y: scroll;
    background-color: rgba(76, 29, 20, 0.6);
}

.modal-container{
    color: #4c1d14;
    background-color: #F8F4EF;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 0;
}

.modal-header{
    display: flex;
    justify-items: center;
    justify-content: center;
    position: relative;
}

.modal-header h1{
    font-size: 2rem;
}

.modal-header a{
    position: absolute;
    right: 1rem;
    top: 0.1rem;
    color: red;
}

.modal-body form{
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    text-align: center;
}

.modal-body label{
    text-align: left ;
    display: block;
    margin-bottom: 0.5em;
    font-family: "Poppins", sans-serif;
}

.modal-body input,
.modal-body textarea,
.modal-body select{
    display: block;
    margin-bottom: 5px;
    border-radius: 15px;
    border: 2px solid #4c1d14;
    padding: 0.5rem;
}

.modal-body input, .modal-body select{
    height: 2.5rem;
    width: 100%;
}

.modal-body textarea{
    width: 100%;
    height: 7rem;
}

.modal-body option{
    height: 5em;
    width: 100%;
    
}

.modal-body button{
    margin-left: auto;
    margin-right: auto;
    height: 2rem;
    border-radius: 15px;
    border: 2px solid #4c1d14;
    margin-top: 0.5rem;
    width: 50%;
}

.modal-body input[type=radio]{
    display: inline;
    width: 20px;
    height: 1rem;
}

.modal-body fieldset{
    border: 1px solid #F4F1ED;
    padding: 1rem;
}

@media screen and (max-width: 600px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: right;
    }

    .modal-container{
        width: 90%;
    }

    .about-us-body{
        display: initial;
    }

    .about-us-body img {
        height: 15rem;
        width: 15rem;
    }

    h1{
        font-size: 2rem;
    }

    .products-slider{
        font-size: 1.5rem;
    }

    .products-content.grid-container {
        grid-gap: 1rem;
        grid-template-rows: 30rem;
        grid-auto-columns: minmax(13rem, auto);
    }

    .category-content.grid-container{
        grid-template-columns: auto auto;
        grid-template-rows: 8rem 8rem 8rem;
    }

    .category-content .grid-item.item1 {
        grid-row: initial;
    }
    
    .category-content .grid-item.item2{
        grid-row: initial;
    }
    
    .category-content .grid-item.item5{
        grid-column: 1 / span 2;
        height: 8rem;
    }

    .products, .about-us, .category, .review{
        padding: 1rem 2rem;
    }

    .item img{
        width: 10rem;
        height: 10rem;
    }

    .review-slider-container .slider {
        grid-auto-columns: minmax(10rem, auto);
        grid-template-rows: max-content;
        gap: 1rem;
    }

    @keyframes slide {
        0%{
            transform: translateX(0%);
        }
        25%{
            transform: translateX(-75%);
        }

        50%{
            transform: translateX(-150%);
        }

        75%{
            transform: translateX(-225%);
        }

        100%{
            transform: translateX(-230%);
        }
    }
    
}